<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>

<div class = "container-fluid">

    <div class = "row">
        <div class="col-md-4">

           <form action="/add" method="post">
          <div class="form-group">
            <label for="exampleFormControlInput1"> A New Project</label>
            <input type="text" class="form-control" name = "name_form" placeholder="Enter project name">
          </div>

          <div class="form-group">
            <label for="exampleFormControlSelect1">Select Project Type</label>
            <select class="form-control" name = "select_form">
              <option>Internal</option>
              <option>External</option>

            </select>
          </div>

         <div class="form-group">
            <label for="exampleFormControlInput2"> Start date</label>
            <input type="date" class="form-control" name = "start_date" placeholder="dd/mm/yy">
          </div>
            <div class="form-group">
            <label for="exampleFormControlInput3"> Amount</label>
            <input type="number" class="form-control" name = "amount" placeholder="0">
          </div>
          <div class="form-group">
            <label for="exampleFormControlInput3"> Expected End date</label>
            <input type="date" class="form-control" name = "end_date" placeholder="dd/mm/yy">
         </div>

        <div class="form-group">
        <textarea class="form-control" name = "description" placeholder="description" rows="2"></textarea>
      </div>
      <input type="SUBMIT" class="btn btn-primary" value = "Add Project">
    </form>
        </div>

         <div class= "col-md-8">

             <div><h3> All  Projects</h3>

                 </div>

            <table class="table table-bordered">
              <thead>
                <tr>
                  <th scope="col">ID</th>
                  <th scope="col">TITLE</th>
                  <th scope="col">TYPE</th>
                  <th scope="col">AMOUNT</th>
                   <th scope="col">START</th>
                  <th scope="col">END</th>
                  <th scope="col">DESC</th>
                   <th scope="col">EDIT</th>
                   <th scope="col">DELETE</th>
                 </tr>
              </thead>
              <tbody>
              {%   for project  in projects_to_send %}
                <tr>
                  <th scope="row">{{ project.id }}</th>
                  <td>{{project.name}}</td>
                  <td>{{ project.type}}</td>
                   <td>{{ project.amount}}</td>
                  <td>{{ project.start_date}}</td>

                  <td>{{ project.end_date}}</td>
                  <td>{{ project.description}}</td>

                  <td>
                      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#edit{{ project.id }}">Edit</button>
                  </td>
                    <td> <a href="/delete/{{ project.id }}"  class="btn">DELETE</a></td>

                </tr>
              {% endfor %}

              </tbody>
            </table>
         </div>
</div>

 <embed type="image/svg+xml" src= {{ chart|safe }} />

{%   for project  in projects_to_send %}
<div class="modal fade" id="edit{{ project.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <form action="/update/{{ project.id }}" method="post">
          <div class="form-group">
            <label for="exampleFormControlInput1"> Update Project</label>
            <input type="text" class="form-control" name = "name_form_edit" value="{{ project.name }}">
          </div>

          <div class="form-group">
            <label for="exampleFormControlSelect1">Select Project Type</label>
            <select class="form-control" name = "select_form_edit">
              <option {% if project.type == "Internal" %}selected {% endif %}>Internal</option>
              <option {% if project.type == "External" %}selected {% endif %}>External</option>

            </select>
          </div>

           <div class="form-group">
            <label for="exampleFormControlInput3"> Amount</label>
            <input type="number" class="form-control" name = "amount_edit" value="{{ project.amount}}">
          </div>

         <div class="form-group">
            <label for="exampleFormControlInput2"> Start date</label>
            <input type="date" class="form-control" name = "start_date_edit" value="{{ project.start_date }}">
          </div>

          <div class="form-group">
            <label for="exampleFormControlInput3"> Expected End date</label>
            <input type="date" class="form-control" name = "end_date_edit" value="{{ project.end_date}}">
         </div>

        <div class="form-group">
        <textarea class="form-control" name = "description_edit" rows="2">{{ project.description }}</textarea>
      </div>
      <input type="SUBMIT" class="btn btn-primary" value = "Update Project">
    </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{% endfor %}


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>